/*==============*/
/*FONTS*/
/*==============*/

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'), url('../fonts/OpenSansRegular.woff2') format('woff2'), url('../fonts/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular.ttf') format('truetype'), url('../fonts/OpenSansRegular.svg#OpenSans') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansItalic.eot');
  src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'), url('../fonts/OpenSansItalic.woff2') format('woff2'), url('../fonts/OpenSansItalic.woff') format('woff'), url('../fonts/OpenSansItalic.ttf') format('truetype'), url('../fonts/OpenSansItalic.svg#OpenSans') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'), url('../fonts/OpenSansBold.woff2') format('woff2'), url('../fonts/OpenSansBold.woff') format('woff'), url('../fonts/OpenSansBold.ttf') format('truetype'), url('../fonts/OpenSansBold.svg#OpenSans') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'), url('../fonts/OpenSansLight.woff2') format('woff2'), url('../fonts/OpenSansLight.woff') format('woff'), url('../fonts/OpenSansLight.ttf') format('truetype'), url('../fonts/OpenSansLight.svg#OpenSans') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansLightItalic.eot');
  src: url('../fonts/OpenSansLightItalic.eot') format('embedded-opentype'), url('../fonts/OpenSansLightItalic.woff2') format('woff2'), url('../fonts/OpenSansLightItalic.woff') format('woff'), url('../fonts/OpenSansLightItalic.ttf') format('truetype'), url('../fonts/OpenSansLightItalic.svg#OpenSans') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansBoldItalic.eot');
  src: url('../fonts/OpenSansBoldItalic.eot') format('embedded-opentype'), url('../fonts/OpenSansBoldItalic.woff2') format('woff2'), url('../fonts/OpenSansBoldItalic.woff') format('woff'), url('../fonts/OpenSansBoldItalic.ttf') format('truetype'), url('../fonts/OpenSansBoldItalic.svg#OpenSans') format('svg');
  font-weight: 600;
  font-style: italic;
}
/*==============*/
/*MAIN STYLES*/
/*==============*/

body {
  background: url(../img/bg-error.png);
  font-family: OpenSans, Arial, sans-serif;
  color: #fff;
  position: relative;
  text-align: center;
}

.error-403,
.error-404,
.error-503 {
  font-size: 25px;
  position: absolute;
  margin: 20% 0 0 40%;
}

h1:before {
  display: block;
  margin-bottom: 10px;
}

.error-403:before {
  content: " ";
  background: url(../img/errors-sprite.png);
  width: 258px;
  height: 99px;
  background-position: -271px 0;
  margin-left: -10px;
}

.error-404:before {
  content: " ";
  background: url(../img/errors-sprite.png);
  width: 271px;
  height: 99px;
  background-position: 0 0;
}

.error-503:before {
  content: " ";
  background: url(../img/errors-sprite.png);
  width: 255px;
  height: 99px;
  background-position: -529px 0;
}
