@font-face {
  font-family: "SansPro";
  src: url(/static/fonts/pfbeausanspro-thin.ttf);
}

body {
  background: url(/static/img/bg-error.png);
  font-family: SansPro, Arial, sans-serif;
  color: white;
  text-align: center;
}

h2 {
  margin-top: 20%;
}

h2:before {
  content: url(/static/img/error-403.png);
  display: block;
  margin-bottom: 10px;
}
