/*==============*/
/*FONTS*/
/*==============*/

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'), url('../fonts/OpenSansRegular.woff2') format('woff2'), url('../fonts/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular.ttf') format('truetype'), url('../fonts/OpenSansRegular.svg#OpenSans') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansItalic.eot');
  src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'), url('../fonts/OpenSansItalic.woff2') format('woff2'), url('../fonts/OpenSansItalic.woff') format('woff'), url('../fonts/OpenSansItalic.ttf') format('truetype'), url('../fonts/OpenSansItalic.svg#OpenSans') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'), url('../fonts/OpenSansBold.woff2') format('woff2'), url('../fonts/OpenSansBold.woff') format('woff'), url('../fonts/OpenSansBold.ttf') format('truetype'), url('../fonts/OpenSansBold.svg#OpenSans') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'), url('../fonts/OpenSansLight.woff2') format('woff2'), url('../fonts/OpenSansLight.woff') format('woff'), url('../fonts/OpenSansLight.ttf') format('truetype'), url('../fonts/OpenSansLight.svg#OpenSans') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansLightItalic.eot');
  src: url('../fonts/OpenSansLightItalic.eot') format('embedded-opentype'), url('../fonts/OpenSansLightItalic.woff2') format('woff2'), url('../fonts/OpenSansLightItalic.woff') format('woff'), url('../fonts/OpenSansLightItalic.ttf') format('truetype'), url('../fonts/OpenSansLightItalic.svg#OpenSans') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansBoldItalic.eot');
  src: url('../fonts/OpenSansBoldItalic.eot') format('embedded-opentype'), url('../fonts/OpenSansBoldItalic.woff2') format('woff2'), url('../fonts/OpenSansBoldItalic.woff') format('woff'), url('../fonts/OpenSansBoldItalic.ttf') format('truetype'), url('../fonts/OpenSansBoldItalic.svg#OpenSans') format('svg');
  font-weight: 600;
  font-style: italic;
}
/*==============*/
/*MAIN STYLES*/
/*==============*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: OpenSans, Arial, sans-serif;
  height: 100%;
  position: relative;
}

li {
  list-style: none;
}

h2 {
  /* for graphics preview headers */

  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
}

.education-about ul h3,
.education-about div h3 {
  font-size: 16px;
  color: #333;
  font-weight: lighter;
  font-family: OpenSans, Arial, sans-serif;
}

.wrapper {
  height: 100%;
  width: 960px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.gradient-button {
  color: #f4f6f8;
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  background: -webkit-linear-gradient(top, #719bda 0%, #71a7da 100%);
  background: -o-linear-gradient(top, #719bda 0%, #71a7da 100%);
  background: linear-gradient(top, #719bda 0%, #71a7da 100%);
}

.gradient-button:hover {
  background: -webkit-linear-gradient(top, #6a91cc 0%, #6a9dcc 100%);
  background: -o-linear-gradient(top, #6a91cc 0%, #6a9dcc 100%);
  background: linear-gradient(top, #6a91cc 0%, #6a9dcc 100%);
}

.landing-header {
  height: 60px;
  background: url(../img/temp_icons/top-bar-bckgr.png);
}
/*Top-Nav*/

.top-nav {
  height: 60px;
  position: relative;
}
/*Logo*/

.logo {
  display: block;
  float: left;
  height: 100%;
  padding-top: 18px;
}

.logo img {
  padding-bottom: 18px;
}
/*Top-site-menu*/

.landing-menu {
  display: block;
  float: left;
  margin-left: 30px;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  height: 100%;
  position: relative;
}

.landing-menu ul {
  list-style: none;
}

.landing-menu ul li {
  float: left;
  position: relative;
}

.landing-menu ul li a {
  padding: 0 10px;
  display: block;
  line-height: 60px;
  color: #bcd3e6;
}

.landing-menu ul li a:hover {
  color: #fff;
}

.landing-user {
  display: block;
  float: right;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
}

.landing-user li {
  float: left;
}

.landing-user a {
  line-height: 60px;
  margin-left: 13px;
  color: #fff;
  text-decoration: underline;
}
/*==============*/
/*SUBHEADER*/
/*==============*/

.landing-subheader {
  background: url(../img/temp_icons/subheader-pattern.png);
  height: 500px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.landing-title {
  position: absolute;
  width: 960px;
  margin: 0 auto;
  top: 20%;
  font-family: OpenSans;
}

.landing-h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 26px;
  top: 25%;
}

.landing-h2 {
  color: #8b95a6;
  margin-top: 7px;
}

.invite {
  display: inline-block;
  width: 181px;
  line-height: 40px;
  font-size: 13px;
  color: #fff;
  background: #4f7ab4;
  border-radius: 3px;
  margin-top: 30px;
}

.landing-title:after {
  content: url(../img/example-landing.png);
  display: block;
  margin-top: 40px;
}
/*----LANDING-CONTENT------*/

.landing-content {
  text-align: center;
  padding-bottom: 80px;
}

.landing-content h2 {
  font-size: 24px;
  color: #333;
  font-weight: 500;
  margin-top: 60px;
  font-family: OpenSans, Arial, sans-serif;
}
/*LANDING-INSIDE*/

.landing-inside h3,
.landing-communication h3 {
  font-size: 16px;
  color: #333;
  font-weight: lighter;
  font-family: OpenSans, Arial, sans-serif;
}

.landing-inside div,
.landing-communication div,
.landing-statistics div {
  display: inline-block;
  width: 310px;
  margin-left: 0;
  margin-top: 60px;
}

.landing-inside div:before,
.landing-communication div:before {
  display: block;
  margin-bottom: 55px;
}

.inside-film:before {
  content: url(../img/landing-inside-1.png);
}

.inside-user:before {
  content: url(../img/landing-inside-2.png);
}

.inside-message:before {
  content: url(../img/landing-inside-3.png);
}

.inside-margin {
  margin-left: 15px;
}

.landing-content p {
  font-size: 13px;
  color: #808080;
  margin-top: 32px;
  line-height: 20px;
}
/*LANDING-EDUCATION*/

.landing-education {
  height: 470px;
  position: relative;
}

.video-title {
  width: 310px;
  height: 350px;
  box-shadow: inset 0 0 2px 1px #e3eaed;
  border-radius: 4px;
  background: url(../img/landing-education-1.png) no-repeat;
  background-color: #fff;
  position: relative;
  margin-left: 105px;
  margin-top: 60px;
  float: left;
}

.video-title:before {
  position: absolute;
  content: url(../img/landing-education-2.png);
  z-index: -1;
  margin-top: 45px;
  left: -75px;
}

.education-video h3 {
  font-size: 16px;
  color: #333;
  font-weight: lighter;
  font-family: OpenSans, Arial, sans-serif;
}

.video-about {
  position: absolute;
  width: 310px;
  height: 130px;
  bottom: 0;
  padding: 15px 0;
}

.video-play {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  margin-left: -25px;
  top: 85px;
}

.video-play:before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 0;
  border: 12px solid transparent;
  border-left: 15px solid #fff;
  margin-left: -6px;
  margin-top: 12px;
}

.video-play:hover {
  opacity: 0.8;
  cursor: pointer;
}

.video-title p {
  margin-top: 15px;
}

.education-about {
  float: right;
  width: 365px;
  margin-left: 180px;
  margin-top: 60px;
  text-align: left;
}

.education-about ul,
.education-about div {
  margin-top: 35px;
}

.education-about li {
  list-style: disc;
  font-size: 13px;
  color: #808080;
  margin-left: 20px;
  line-height: 20px;
}

.education-about p:nth-child(2) {
  margin-bottom: 20px;
}
/*LANDING-COMMUNICATION*/

.landing-communication {
  clear: both;
}

.com-icon-1:before {
  content: url(../img/landing-communication-1.png);
}

.com-icon-2:before {
  content: url(../img/landing-communication-2.png);
}

.com-icon-3:before {
  content: url(../img/landing-communication-3.png);
}
/*LANDING-STATISTICS*/

.landing-statistics span {
  font-size: 36px;
  font-weight: bold;
  color: #4f7ab4;
}

.landing-statistics h3 {
  font-size: 16px;
  color: #333;
  font-weight: lighter;
  font-family: OpenSans, Arial, sans-serif;
  margin-top: 20px;
}
/*LANDING-QUESTION*/

.landing-question h3 {
  font-size: 14px;
  color: #666;
  font-weight: lighter;
  font-family: OpenSans, Arial, sans-serif;
  margin-top: 20px;
}
/*----------LANDING-FOOTER-----------*/

.landing-footer {
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
  border-top: 1px solid #e4e4e4;
  font-size: 13px;
  color: #666;
}

.landing-footer p {
  float: left;
}

.landing-footer ul {
  float: right;
}

.landing-footer li {
  float: left;
  margin-left: 15px;
  line-height: 40px;
}

.landing-footer a {
  display: inline-block;
  color: #666;
}

.landing-footer a:hover {
  opacity: 0.7;
}
/*-----AUTHORIZATION-----*/

.login {
  position: absolute;
  margin: 0 auto;
  margin-top: 27%;
  margin-left: 40%;
  top: 0;
  width: 295px;
  height: 240px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 2px 1px #d6d7d7;
  overflow: hidden;
  font-size: 13px;
  text-align: center;
}

.login-header {
  line-height: 50px;
  background: #466fa7;
}

.login-header span {
  color: #fff;
  margin-left: 20px;
}

.login-header a {
  color: #a9bed9;
  float: right;
  margin-right: 20px;
}

.login-header a:hover {
  color: #fff;
}

input {
  width: 250px;
  height: 33px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  margin-top: 10px;
  background: url(../img/authorization-sprites.png) no-repeat;
}
