/*==============*/
/*FONTS*/
/*==============*/

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansItalic.eot');
    src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansItalic.woff2') format('woff2'),
         url('../fonts/OpenSansItalic.woff') format('woff'),
         url('../fonts/OpenSansItalic.ttf') format('truetype'),
         url('../fonts/OpenSansItalic.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
         url('../fonts/OpenSansLight.woff2') format('woff2'),
         url('../fonts/OpenSansLight.woff') format('woff'),
         url('../fonts/OpenSansLight.ttf') format('truetype'),
         url('../fonts/OpenSansLight.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansLightItalic.eot');
    src: url('../fonts/OpenSansLightItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansLightItalic.woff2') format('woff2'),
         url('../fonts/OpenSansLightItalic.woff') format('woff'),
         url('../fonts/OpenSansLightItalic.ttf') format('truetype'),
         url('../fonts/OpenSansLightItalic.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansBoldItalic.eot');
    src: url('../fonts/OpenSansBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBoldItalic.woff2') format('woff2'),
         url('../fonts/OpenSansBoldItalic.woff') format('woff'),
         url('../fonts/OpenSansBoldItalic.ttf') format('truetype'),
         url('../fonts/OpenSansBoldItalic.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: italic;
}



/* @font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Italic.eot');
  src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.ttf') format('truetype'), url('../fonts/OpenSans-Italic.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-LightItalic.eot');
  src: url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-LightItalic.woff') format('woff'), url('../fonts/OpenSans-LightItalic.ttf') format('truetype'), url('../fonts/OpenSans-LightItalic.svg#OpenSans') format('svg');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-BoldItalic.eot');
  src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic.svg#OpenSans') format('svg');
  font-weight: bold;
  font-style: italic;
} */
/*==============*/
/*MAIN STYLES*/
/*==============*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: OpenSans, Arial, sans-serif;
}

h2 {
  /* for graphics preview headings */

  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

h3 {
  /* for sidebar & content headings */

  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100%;
  width: 960px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.gradient-button {
  color: #f4f6f8;
  font-size: 13px;
  text-align: center;
  border-radius: 2px;
  background: -webkit-linear-gradient(top, #719bda 0%, #71a7da 100%);
  background: -o-linear-gradient(top, #719bda 0%, #71a7da 100%);
  background: linear-gradient(top, #719bda 0%, #71a7da 100%);
}

.gradient-button:hover {
  background: -webkit-linear-gradient(top, #6a91cc 0%, #6a9dcc 100%);
  background: -o-linear-gradient(top, #6a91cc 0%, #6a9dcc 100%);
  background: linear-gradient(top, #6a91cc 0%, #6a9dcc 100%);
}

.common-aside,
.aside-footer li,
.aside-activity {
  list-style: none;
}

.aside-activ,
.aside-help,
.aside-follow,
.aside-footer a {
  font-family: Arial, sans-serif;
}

/*==============*/
/* HEADER */
/*==============*/

.header {
    height: 60px;
    background: url(../img/temp_icons/top-bar-bckgr.png);
}

/*Top-Nav*/

.top-nav {
  height: 60px;
  position: relative;
}

/*Logo*/

.logo {
  display: block;
  float: left;
  padding-top: 18px;
  height: 100%;
}

/*Top-site-menu*/

.top-menu {
  display: block;
  float: left;
  margin-left: 30px;
  font-family: OpenSans, Arial, serif;
  font-size: 13px;
  height: 100%;
  position: relative;
}

.top-menu ul {
  list-style: none;
}

.top-menu ul li {
  float: left;
  position: relative;
}

.top-menu ul li a {
  padding: 0 10px;
  display: block;
  line-height: 60px;
  color: #bcd3e6;
}

.top-menu ul li a:hover {
  color: #fff;
}

.current-nav-item {
  font-weight: 600;
  color: #fff !important;
}

/*Top-User-menu*/

.user-actions {
  display: block;
  float: left;
  height: 100%;
  width: 46px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
  position: relative;
}

.user-actions:before {
  content: "";
  position: absolute;
  background: url(../img/sprites.png);
  height: 16px;
  width: 16px;
  top: 22px;
  left: 15px;
}

.user-actions:hover:before {
  background: url(../img/sprites.png) -16px 0;
}

.user-menu {
  visibility: hidden;
  display: block;
  width: 200px;
  position: absolute;
  left: -77px;
  top: 100px;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 19px 8px rgba(0,0,0,0.07);
  -moz-box-shadow: 3px 3px 19px 8px rgba(0,0,0,0.07);
  box-shadow: 3px 3px 19px 8px rgba(0,0,0,0.07);
  z-index: 5;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  opacity: 0;
  -webkit-transition: opacity .1s .3s, top .1s .3s, visibility .3s;
  -o-transition: opacity .1s .3s, top .1s .3s, visibility .3s;
  transition: opacity .1s .3s, top .1s .3s, visibility .3s;
}

.user-menu:after {
  position: absolute;
  content: "";
  border-left: 5px solid rgba(0,0,0,0);
  border-right: 5px solid rgba(0,0,0,0);
  border-bottom: 5px solid #fff;
  left: 95px;
  top: -5px;
}

.user-actions:hover > .user-menu {
  visibility: visible;
  opacity: 1;
  top: 60px;
  -webkit-transition: opacity .1s, top .1s, visibility 0s;
  -o-transition: opacity .1s, top .1s, visibility 0s;
  transition: opacity .1s, top .1s, visibility 0s;
}

/*User-actions-icons*/

.user-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
  color: #000;
  padding-left: 45px;
  position: relative;
  -webkit-transition: background, .3s, ease;
  -o-transition: background, .3s, ease;
  transition: background, .3s, ease;
}

.user-menu li a:hover {
  background: #547db5;
  color: #fff;
}

.open-book:before {
  content: "";
  position: absolute;
  background: url(../img/sprites.png) 0 -16px;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 8px;
}

.open-book:hover:before {
  background: url(../img/sprites.png) -18px -16px;
}

.upload-cloud:before {
  content: "";
  position: absolute;
  background: url(../img/sprites.png) -36px -16px;
  width: 18px;
  height: 12px;
  left: 15px;
  top: 11px;
}

.upload-cloud:hover:before {
  background: url(../img/sprites.png) -96px -35px;
}

.thumbs-up:before {
  content: "";
  position: absolute;
  background: url(../img/sprites.png) -114px -35px;
  width: 16px;
  height: 18px;
  left: 15px;
  top: 8px;
}

.thumbs-up:hover:before {
  background: url(../img/sprites.png) -87px -16px;
}

.project-help:before {
  content: "";
  position: absolute;
  background: url(../img/sprites.png) -103px -16px;
  width: 19px;
  height: 19px;
  left: 15px;
  top: 8px;
}

.project-help:hover:before {
  background: url(../img/sprites.png) -122px -16px;
}

/*User-block*/

.user-block {
  display: block;
  float: right;
  height: 100%;
  width: 256px;
}

/*User-mail*/

.user-mail {
  display: block;
  float: left;
  width: 22px;
  height: 100%;
  margin-right: 29px;
  position: relative;
}

.user-mail:before {
  content: "";
  position: absolute;
  background: url(../img/sprites.png) -32px 0;
  width: 22px;
  height: 16px;
  top: 22px;
}

.user-mail:after {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  content: attr(data-messages-counter);
  line-height: 18px;
  text-align: center;
  color: #fff;
  position: absolute;
  background: #e14c64;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  top: 21px;
  left: 28px;
}

/*User-profile*/
.home-user-profile {
  display: block;
  float: right;
  width: 150px;
  height: 100%;
  position: relative;
  background: url(../img/temp_icons/user-profile-bckgr.png);
}

.home-user-profile a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
}

.user-name {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  line-height: 60px;
  display: inline-block;
  margin-left: 15px;
}

.user-photo {
  position: relative;
  top: -50px;
  margin-left: 95px;
}

.user-photo  img{
  border-radius: 3px;
}

/*==============*/
/*SUBHEADER*/
/*==============*/

.subheader {
    height: 250px;
    background: url(../img/temp_icons/subheader-pattern.png);
}

.slider {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

/*-----What to show-----*/

.what-to-show {
  left: -80px;
  position: absolute;
  border-radius: 3px;
  overflow: hidden;
}

.what-to-show a {
  display: block;
  height: 50px;
  width: 50px;
  background: #202a37;
  position: relative;
  -webkit-transition: background, .2s, ease;
  -o-transition: background, .2s, ease;
  transition: background, .2s, ease;
}

.what-to-show a:hover {
  background: #1a232d;
}

/*Graphic-posts-icon*/

.slider-show-posts:before {
  content: "";
  position: absolute;
  background: url(../img/sprites.png) 0 -35px;
  width: 23px;
  height: 20px;
  top: 15px;
  left: 14px;
}

.slider-show-posts:hover:before {background: url(../img/sprites.png) -23px -35px}

.slider-show-posts:after {
  content: attr(data-post-count);
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #5294d2;
  text-align: center;
  border-radius: 2px;
  left: 28px;
  top: 8px;
}

/*Article-posts-icon*/

.slider-show-articles:before {
  content: "";
  position: absolute;
  background: url(../img/sprites.png) -46px -35px;
  width: 25px;
  height: 28px;
  top: 11px;
  left: 13px;
}

.slider-show-articles:hover:before {background: url(../img/sprites.png) -71px -35px}

.slider-show-articles:after {
  content: attr(data-article-count);
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #e14c64;
  text-align: center;
  border-radius: 2px;
  left: 28px;
  top: 8px;
}

.slider-row-first {
  width: 100%;
  line-height: 16px;
  margin-bottom: 20px;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  position: relative;
}

/*Fist row (text)*/

.slider-row-first ul {
  position: absolute;
  list-style: none;
  top: 0;
  z-index: 2;
  left: 85px;
}

.slider-row-first ul li {
  padding-bottom: 3px;
  border-bottom: 1px dashed #fff;
}

.slider-row-first ul li:after {
  content: ":";
}

.slider-range-image span, .slider-range-user span {
  border-bottom: 1px dashed #fff;
}

.slider-range-image span:after, .slider-range-user span:after {
  content: ":";
}

.slider-range-image span[data-state="hidden"],
.slider-range-user span[data-state="hidden"]
{
  display: none;
}

.slider-row-first ul[data-state="visible"] {
  display: inline-block;
}

.slider-row-first ul[data-state="hidden"] {
  display: none;
}

.slider-right-text {
  position: absolute;
  top: 0;
  right: 15px;
}

.slider-right-text ul {
  position: absolute;
  list-style: none;
  top: 0;
  z-index: 2;
  right: -15px;
  left: auto;
}

/*Second row (slider-content)*/

.slider-row-second {
  width: 100%;
  height: 140px;
  position: relative;
}

/*--Graphic-posts--*/

.slider-top-graphic {
  height: 100%;
  display: inline-block;
  position: relative;
}

.slider-top-graphic a {
  float: left;
}

.slider-top-graphic a img {
  margin-right: 10px;
}

.last-slider-thumb {
  margin-right: 0px !important;
}

.slider-next {
  display: block;
  height: 100%;
  width: 35px;
  position: absolute;
  right: 0;
  background: #18202a;
  opacity: 0.95;
}
.slider-next:hover {opacity: 1;}
.slider-next:before {
  content: "";
  position: absolute;
  background: url(../img/temp_icons/slider-next.png);
  width: 10px;
  height: 20px;
  top: 60px;
  left: 12.5px;
}

/*--Top users--*/

.slider-top-users {
  height: 100%;
  display: inline-block;
  margin-left: 30px;
}

.slider-top-user {
  margin-bottom: 5px;
  position: relative;
}

.slider-top-users div:last-child {
  margin-bottom: 0;
}

.slider-top-user img {
  border-radius: 3px;
}

.slider-user-link {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
}

/*Subheader-Top-user-info-block*/

.top-user-info {
  margin-left: 10px;
  display: inline-block;
}

.top-user-name {
  display: block;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  margin-bottom: 5px;
}

.user-likes-counter {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #9199a5;
  position: relative;
  bottom: 7px;
}

/*==============*/
/*CONTENT*/
/*==============*/

.content {
  height: 100%;
  width: 710px;
  float: left;
  margin-right: 30px;
  padding-top: 35px;
  padding-bottom: 100px;
}

.content-grid {
  padding-bottom: 11px;
  /* padding + border */

  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 27px;
}
/* GRAPHICS BLOCK */

.graphics-block {
  width: 220px;
  height: 215px;
  margin-right: 25px;
  margin-bottom: 20px;
  float: left;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 0;
}

.graphics-block:before {
  content: '';
  visibility: hidden;
  width: 240px;
  height: 0px;
  opacity: 0;
  position: absolute;
  top: -10px;
  left: -10px;
  background: #fff;
  -webkit-transition: opacity .1s, height .2s ease-out;
  -o-transition: opacity .1s, height .2s ease-out;
  transition: opacity .1s, height .2s ease-out;
}

.graphics-block:hover,
.graphics-block:hover * {
  z-index: 2;
}

.graphics-block:hover .graphics-block-thumb {
  opacity: 1;
}

.graphics-block:hover .graphics-hidden-info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.graphics-block:hover:before {
  opacity: 1;
  height: 375px;
  visibility: visible;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .2);
}

.graphics-block:nth-child(3n) {
  margin-right: 0;
}
/* GRAPHICS THUMBNAIL */

.graphics-block-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 165px;
  overflow: hidden;
  opacity: .8;
  cursor: pointer;
}
/* GRAPHICS INFO */

.graphics-block-info {
  display: block;
  position: absolute;
  top: 177px;
  left: 0;
  height: 13px;
  margin-bottom: 10px;
}

.graphics-likes,
.graphics-views,
.graphics-comments {
  list-style: none;
  float: left;
  margin-right: 15px;
  font-size: 12px;
  line-height: 12px;
  color: #8a8a8a;
  position: relative;
}

.graphics-likes:before,
.graphics-views:before,
.graphics-comments:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.graphics-likes {
  color: #e67084;
  font-weight: bold;
  padding-left: 25px;
}

.graphics-likes:before {
  width: 15px;
  height: 13px;
  background: url('../img/sailorkoto-temp-sprite.png') 0 0;
}

.graphics-views {
  padding-left: 29px;
}

.graphics-views:before {
  width: 19px;
  height: 13px;
  background: url('../img/sailorkoto-temp-sprite.png') -15px 0;
}

.graphics-comments {
  padding-left: 25px;
}

.graphics-comments:before {
  width: 15px;
  height: 13px;
  background: url('../img/sailorkoto-temp-sprite.png') -34px 0;
}
/* GRAPHICS AUTHOR */

.graphics-author {
  position: absolute;
  top: 200px;
  left: 0;
  height: 15px;
  margin-bottom: 10px;
}

.graphics-author img {
  float: left;
  margin-right: 10px;
}

.graphics-author-link {
  float: left;
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: #6493cf;
}

.graphics-author-link:hover {
  color: #5780b5;
}
/* GRAPHICS HIDDEN INFO */

.graphics-hidden-info {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: opacity .2s .1s, transform .3s ease-out .1s;
  -o-transition: opacity .2s .1s, transform .3s ease-out .1s;
  transition: opacity .2s .1s, transform .3s ease-out .1s;
}

.graphics-header {
  position: absolute;
  top: 225px;
  left: 0;
  height: 15px;
  margin-bottom: 10px;
}

.graphics-date {
  position: absolute;
  top: 250px;
  left: 0;
  height: 15px;
  margin-bottom: 10px;
  color: #929292;
  font-size: 12px;
  font-weight: bold;
}

.graphics-about {
  position: absolute;
  top: 275px;
  left: 0;
  height: 30px;
  margin-bottom: 10px;
  color: #929292;
  font-size: 12px;
}

.full-graphics-link {
  position: absolute;
  top: 315px;
  left: 0;
  display: block;
  width: 220px;
  height: 40px;
  line-height: 40px;
}
/* PAGINATION */

.pagination {
  height: 33px;
}

.pagination-big-button {
  height: 33px;
  line-height: 33px;
  padding-left: 19px;
  padding-right: 19px;
  border: none;
  float: left;
  cursor: pointer;
}

.pagination-big-button[data-state=disabled] {
  color: #acacac;
  border: 1px solid #e3e3e3;
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #f5f5f5 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #f5f5f5 100%);
  background: linear-gradient(top, #f7f7f7 0%, #f5f5f5 100%);
  cursor: default;
}

.pagination-small-buttons-row {
  display: block;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 6px;
  height: 27px;
  float: left;
}

.pagination-small-buttons-row li {
  height: 100%;
  float: left;
  list-style: none;
}

.pagination-small-buttons-row a {
  display: block;
  width: 21px;
  height: 100%;
  font-size: 13px;
  color: #333;
  text-align: center;
  line-height: 25px;
  position: relative;
  border-bottom: 2px solid #d9e0e8;
  -webkit-transition: border .2s, color .1s;
  -o-transition: border .2s, color .1s;
  transition: border .2s, color .1s;
}

.pagination-small-buttons-row a:hover {
  color: #fff;
  border-bottom: 27px solid #c1d1e2;
}

.pagination-small-buttons-row a:active {
  color: #fff;
  border-bottom: 27px solid #609ad4;
}

.pagination-small-buttons-row a.current-page:after {
  content: '';
  display: block;
  width: 21px;
  height: 2px;
  background: #609ad4;
  position: absolute;
  left: 0;
  bottom: -2px;
}

/*============================*/
/*CONTENT OF GRAPHICS-ADD.HTML*/
/*============================*/

.graphics-add h3 {
  margin-bottom: 17px;
}

/* tabs */

.content-tabs {
  display: block;
  height: 34px;
  margin-bottom: 20px;
}

.content-tabs li {
  list-style: none;
  float: left;
  height: 100%;
}

.content-tabs a {
  display: block;
  height: 100%;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #96a3b4;
  margin-right: 4px;
  padding-top: 9px;
}

.content-tabs a:hover {
  background: #f7f9fb;
}

.active-content-tab {
  background: #e3e8ee;
  color: #747d8a;
}

.active-content-tab:hover {
  background: #e3e8ee !important;
}

/* graphics adding form */

.graphics-add input {
  width: 100%;
  height: 47px;
  border: 1px solid #dbdbdb;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  color: #666;
  padding: 15px;
  outline: none;
  border-radius: 1px;
  margin-bottom: 8px;
  position: relative;
}

.graphics-add input::-webkit-input-placeholder { color: #333; }
.graphics-add input:-moz-placeholder { color: #333; }
.graphics-add input::-moz-placeholder { color: #333; }
.graphics-add input:-ms-placeholder { color: #333; }

.graphics-name {
  height: 47px;
  width: 461px;
  float: left;
  position: relative;
  margin-bottom: 8px;
}

.graphics-name:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/sailorkoto-temp-sprite.png') 0 -13px;
  position: absolute;
  top: 17px;
  right: 15px;
}
.graphics-add-form-select-menu {
  width: 241px !important;
  float: right;
}

.graphics-tags {
  height: 47px;
  position: relative;
  margin-bottom: 8px;
}

.graphics-tags:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/sailorkoto-temp-sprite.png') -16px -13px;
  position: absolute;
  top: 17px;
  right: 15px;
}

/* drag n drop zone */

.drag-n-drop-zone {
  height: 532px;
  background: #f5f7f9;
  border: 2px dashed #d9e0e9;
  margin-bottom: 9px;
}

.drag-n-drop-info-container {
  width: 230px;
  height: 230px;
  margin: 149px auto;
  text-align: center;
  padding-top: 120px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #c3c8cc !important;
  position: relative;
}

.drag-n-drop-info-container:after {
  content: '';
  display: block;
  width: 111px;
  height: 95px;
  background: url('../img/sailorkoto-temp-sprite.png') 0 -29px;
  position: absolute;
  top: 10px;
  left: 60px;
}

.drag-n-drop-info-container p {
    color: #93a4b5;
    margin-bottom: 20px;
}

.image-upload-button input[type='file'] {
  position: fixed;
  top: -999px;
}

.image-upload-button {
  display: block;
  width: 230px;
  height: 43px;
  border-radius: 2px 2px 0 0;
  background: #4e79b3;
  text-align: center;
  color: #fff;
  padding-top: 14px;
  font-size: 13px;
  position: absolute;
  bottom: 2px;
  left: 0;
  cursor: pointer;
}

.image-upload-button:after {
  content: '';
  display: block;
  background: #3e689f;
  width: 230px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 0 0 3px 3px;
}

.image-upload-button:hover {
  background: #5a8bcc;
}

.image-upload-button:active {
  bottom: 0;
  border-radius: 2px;
}

.image-upload-button:active:after {
  display: none;
}

/* textarea */

.textarea-toolbar {
  display: block;
  width: 100%;
  height: 46px;
  background: #f0f0f0;
  border: 1px solid #bdbdbd;
}

.textarea-toolbar ul {
  list-style-type: none;
  display: block;
  padding-left: 15px;
  background: #ccc;
}

.textarea-toolbar a {
  float: left;
  display: block;
  margin-top: 12px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  border: 1px solid transparent;
}

.textarea-toolbar a:hover {
  border: 1px solid #ccc;
}

.textarea-tool-bold:after      { content: ''; display: block; position: absolute; width: 10px; height: 10px; background: url('../img/sailorkoto-temp-sprite.png') -32px -13px; top: 4px; left: 4px; }
.textarea-tool-italic:after    { content: ''; display: block; position: absolute; width:  8px; height: 10px; background: url('../img/sailorkoto-temp-sprite.png') -42px -13px; top: 4px; left: 5px; }
.textarea-tool-strike:after    { content: ''; display: block; position: absolute; width: 14px; height: 10px; background: url('../img/sailorkoto-temp-sprite.png') -50px -13px; top: 4px; left: 2px; }
.textarea-tool-underline:after { content: ''; display: block; position: absolute; width: 10px; height: 13px; background: url('../img/sailorkoto-temp-sprite.png') -64px -13px; top: 4px; left: 4px; }
.textarea-tool-link:after      { content: ''; display: block; position: absolute; width: 15px; height: 13px; background: url('../img/sailorkoto-temp-sprite.png') -74px -13px; top: 4px; left: 2px; }

.textarea-counter {
  float: right;
  font-size: 12px;
  line-height: 42px;
  color: #666;
  padding-right: 15px;
}

.graphics-adding-textarea {
  width: 100%;
  max-width: 100%;
  height: 128px;
  border: 1px solid #bdbdbd;
  border-top: none;
  padding: 15px;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  color: #666;
  outline: none;
  margin-bottom: 15px;
}

.graphics-adding-textarea::-webkit-input-placeholder { color: #666; }
.graphics-adding-textarea:-moz-placeholder { color: #666; }
.graphics-adding-textarea::-moz-placeholder { color: #666; }
.graphics-adding-textarea:-ms-placeholder { color: #666; }

/* form submit button, etc. */

.graphics-adding-options {
  height: 40px;
}

.form-submit {
  display: block;
  height: inherit;
  border-radius: 2px;
  font-size: 13px;
  color: #fff;
  padding: 11px 15px 15px 40px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  float: left;
}

.form-submit:before {
  content: '';
  display: block;
  position: absolute;
}

.graphics-public { background: #71a4da; }
.graphics-public:hover { background: #81b4ea; }
.graphics-public:active { background: #71a4da; }

.graphics-preview{ background: #add23b; }
.graphics-preview:hover { background: #bde24b; }
.graphics-preview:active{ background: #add23b; }

.graphics-public:before {
  width: 16px;
  height: 12px;
  background: url('../img/sailorkoto-temp-sprite.png') -49px 0;
  top: 15px;
  left: 11px;
}

.graphics-preview:before {
  width: 16px;
  height: 10px;
  background: url('../img/sailorkoto-temp-sprite.png') -65px 0;
  top: 16px;
  left: 13px;
}

/* dpublish as */

.publish-as {
  height: 100%;
  float: right;
}

.publish-as-cancel {
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 14px;
  margin-right: 5px;
  position: relative;
  float: left;
}

.publish-as-cancel:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: url('../img/sailorkoto-temp-sprite.png') -81px 0;
  position: absolute;
  top: 3px;
  left: 3px;
}

.publish-as span {
  display: block;
  float: left;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-right: 10px;
}

.publish-as-img {
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  position: relative;
}

.publish-as-img:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,.3);
  position: absolute;
  top: 0;
  left: 0;
}

.publish-as-img:hover:after {
  display: none;
}

/* dropdown select-menu */

.select-menu {
  list-style-type: none;
  display: block;
  width: 100%;
  height: 47px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #707070;
  padding: 15px;
  background: #f8f8f8;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  position: relative;
  cursor: pointer;
}

.select-menu:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #d3d3d3;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 21px;
  right: 15px;
}

.select-menu-dropdown {
  display: block;
  width: 101%;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  list-style-type: none;
  position: absolute;
  left: -1px;
  top: 100%;
  z-index: 2;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: max-height .3s;
  -o-transition: max-height .3s;
  transition: max-height .3s;
}

.select-menu-dropdown li {
  height: 30px;
  padding: 7px 15px 7px 15px;
}

.select-menu-dropdown li:hover {
  background: #eee;
}

.select-menu:hover .select-menu-dropdown {
  visibility: visible;
  max-height: 200px;
}

/*==============*/
/*SIDEBAR*/
/*==============*/

.home-sidebar {
  height: 100%;
  width: 220px;
  float: right;
}

.common-aside h3 {
  padding-bottom: 13px;
}

.common-aside div {
  padding-top: 30px;
}
/*--------NAVIGATION------*/

.common-aside {
  overflow: hidden;
  font-size: 13px;
}

.home-aside-nav a {
  display: block;
  font-family: Arial, sans-serif;
  color: #666;
  font-size: 13px;
  line-height: 35px;
  border-bottom: 1px solid #e7e7e7;
}

.home-aside-nav li:last-child a {
  border-style: none;
}

.home-aside-nav a:hover {
  opacity: .7;
}

.home-aside-nav a:before {
  display: inline-block;
  content: " ";
  width: 16px;
  height: 24px;
  margin-right: 15px;
  margin-bottom: -7px;
  background: url(../img/sprites.png);
}

.home-aside-nav li:nth-child(1) a:before {
  background-position: 0 -76px;
}

.home-aside-nav li:nth-child(2) a:before {
  background-position: -16px -76px;
}

.home-aside-nav li:nth-child(3) a:before {
  background-position: -32px -75px;
}

.home-aside-nav li:nth-child(4) a:before {
  background-position: -48px -76px;
}

.home-aside-nav li:nth-child(5) a:before {
  background-position: -64px -76px;
}

.home-aside-nav li:nth-child(6) a:before {
  background-position: -80px -76px;
}

.home-aside-nav li:nth-child(7) a:before {
  background-position: -96px -76px;
}

.home-aside-nav li:nth-child(8) a:before {
  background-position: -112px -76px;
}

.home-aside-nav li:nth-child(5) a:after {
  display: inline-block;
  float: right;
  margin-top: 8px;
  color: white;
  content: "2";
  text-align: center;
  line-height: 19px;
  width: 19px;
  background: #74aded;
  border-radius: 3px;
}

/* SORTING */

.sidebar-select-menu-label{
  display: block;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  color: #333;
  display: block;
  margin-bottom: 15px;
}

.sidebar-select-menu-label:after {
  content: ':';
}

.sidebar-select-menu {
  height: 36px;
  padding: 10px 14px 10px 14px;
  color: #333;
  margin-bottom: 20px;
}

.sidebar-select-menu:after {
  top: 16px;
}

.aside-sorting .sidebar-select-menu:last-child {
  margin-bottom: 10px;
}

/*--------ACTIVITY-------*/

.aside-activ {
  padding-bottom: 17px;
  border-bottom: 1px solid #e3e3e3;
}

.aside-activ a {
  font-size: 12px;
  color: #666;
}

.aside-activ li {
  display: block;
}

.aside-activ li:first-child {
  margin-bottom: 8px;
}

.aside-activ li:first-child a {
  font-size: 13px;
  color: #3676b1;
  text-decoration: underline;
}

.aside-activ img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: -4px;
  border-radius: 3px;
}

.activity-comment {
  margin-top: 7px;
  margin-left: 30px;
}

.aside-activ:nth-last-child(2),
.aside-activ:last-child {
  padding-top: 20px;
  position: relative;
}

.aside-activ:last-child {
  border-style: none;
  padding-bottom: 0;
}

.aside-activ:last-child li {
  margin-bottom: 10px;
}

.aside-activ:last-child a:after {
  content: " ";
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 2px;
  width: 15px;
  height: 13px;
  background: url(../img/sprites.png);
  background-position: 0 -63px;
}

.aside-activ:last-child .after:after {
  content: none;
}

/*----HELP---*/

.aside-help a {
  color: #666;
}

.aside-help a:after {
  content: url(../img/help.png);
  display: block;
  margin-top: 10px;
}

/*------SOCIAL------*/

.aside-follow a {
  display: block;
  color: #666;
  line-height: 37px;
  border-bottom: 1px solid #e7e7e7;
}

.aside-follow li:last-child a {
  border-style: none;
}

.aside-follow a:before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  background: url(../img/sprites.png);
  margin-bottom: -3px;
}

.aside-follow li:nth-child(1) a:before {
  background-position: 0 -102px;
}

.aside-follow li:nth-child(2) a:before {
  background-position: -16px -102px;
}

.aside-follow li:nth-child(3) a:before {
  background-position: -32px -102px;
}

.aside-follow li:nth-child(4) a:before {
  background-position: -48px -102px;
}

.aside-follow li:nth-child(5) a:before {
  background-position: -64px -102px;
}

.aside-follow a:hover {
  opacity: .7;
}

/*ASIDE FOOTER*/

.aside-footer{
  margin-top: 20px;
  margin-bottom: 72px;
  text-align: center;
}

.aside-footer a {
  color: #999;
}

.aside-footer ul {
  margin-top: 10px;
}

.aside-footer li {
  display: inline;
  margin-left: 10px;
  text-align: center;
}

.aside-footer li:first-child {
  margin-left: 0;
}
