.profile-user-block {
  height: 100%;
  display: block;
  float: right;
}

.profile-user-mail {
  height: 100%;
  float: right;
}

.profile-user-mail a:before {
  content: "";
  display: inline-block;
  background: url(../img/sprites.png) -32px 0;
  width: 22px;
  height: 16px;
  margin-bottom: -21px;
  margin-right: 7px;
}

.profile-user-mail a:after {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  content: attr(data-messages-counter);
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: #e14c64;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  display: inline-block;
  float: right;
  margin-top: 21px;
}

.profile-user-profile {
  height: 100%;
  display: block;
  float: right;
  position: relative;
}

.profile-user-profile a {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #fff;
}

.profile-user-photo img {
  border-radius: 40px;
}

/**************************/
/********Profile-subheader*/
/**************************/

/***Last-visit****/

.user-last-visit {
  height: 100%;
  line-height: 40px;
  display: block;
  color: #b7b7b7;
  float: left;
}

/****User stats and options****/

.user-stats-options {
  line-height: 40px;
  display: block;
  float: right;
}

.user-stats-options ul {
  list-style: none;
}

.user-stats-options ul li {
  padding-right: 28px;
  position: relative;
  float: left;
}

.user-stats {
  margin-right: 24px;
}

.user-stats-options a {
  display: inline-block;
  color: #6082b1;
}

.user-stats-options a:hover {
  text-decoration:underline;
}

.user-stats-options ul li a:after {
  content: "";
  background: url(../img/spritesheet.png) -117px -61px;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 0;
  top: 12.5px;
}

.user-stats a:after {
  background: url(../img/spritesheet.png) -132px -61px !important;
  width: 17px !important;
}

/**************************/
/********Profile-aside*****/
/**************************/

.profile-user-aside {
  font-family: Arial, sans-serif;
  width: 200px;
  display: block;
  margin-right: 45px;
  float: left;
}

/*******Profile-avatar*******/

.profile-user-avatar img {
  border-radius: 100px;
}

.profile-edit-user-profile {
  font-size: 11px;
  color: #9d9d9d;
  position: absolute;
  right: 15px;
  top: 3px;
}

.profile-edit-user-profile:hover {
  text-decoration: underline;
}

.profile-edit-user-profile:after {
  content: "";
  position: absolute;
  background: url(../img/spritesheet.png) -50px -153px;
  height: 10px;
  width: 10px;
  right: -15px;
  bottom: 0;
}

.profile-user-avatar {
  position: relative;
  margin-bottom: 20px;
}

/*Profile userName, specialization, rating, occupation, salary, send-message, unsubscribe/subscribe*/

.profile-user-full-name {
  font-size: 18px;
  color: #000;
  text-align: center;
  font-weight: bold;
  letter-spacing: -.3px;
  margin-bottom: 10px;
}

.profile-user-specialization {
  font-size: 13px;
  color: #999;
  text-align: center;
  font-weight: bold;
}

.profile-user-occupation, .profile-user-rating {
  padding: 18px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.profile-user-occupation:before, .profile-user-rating:before {
  content: "";
  position: absolute;
  background: url(../img/spritesheet.png) -64px -61px;
  width: 27px;
  height: 27px;
  left: 25px;
  top: 20px;
}

.profile-user-salary, .profile-rating-points {
  font-size: 13px;
  color: #669900;
  font-weight: bold;
  display: block;
  padding-left: 60px;
  margin-bottom: 5px;
}

.work-state, .profile-rating-position {
  font-size: 12px;
  color: #9d9e9c;
  padding-left: 60px;
  display: block;
  font-weight: bold;
}

.profile-user-rating:before {
  width: 26px;
  height: 26px;
  top: 21px;
  left: 26px;
  background: url(../img/spritesheet.png) -91px -61px;
}

.profile-rating-points {
  color: #777;
}

.profile-rating-position {
  font-size: 11px;
  color: #9d9e9c;
}

.profile-rating-position a {
  color: #9d9e9c;
}

.profile-rating-position a:hover {
  color: #a3b2c6;
  text-decoration: underline;
}

.profile-send-message-button a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  background: url(../img/temp_icons/send-mail-button-bckgr.png);
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
  margin-bottom: 10px;
}

.profile-send-message-button a:hover {
  background: #214d87;
}

.profile-unsubscribe-button a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  background: #eee;
  color: #9a9a9a;
  border-radius: 2px;
  margin-bottom: 10px;
}

.profile-unsubscribe-button a:hover {
  background: #9a9a9a;
  color: #eee;
}

/*****Subscribers block, folllowed block, title definition******/

.subscribers-title, .followed-title, .skills-title, .about-title, .contacts-title {
  padding-top: 28px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  position: relative;
}

.subscribers-counter, .followed-counter {
  font-size: 14px;
  float: right;
  color: #999;
}

.subscribers-thumbs, .followed-thumbs {
  padding-top: 15px;
}

.sbs-row, .fl-row {
  height: 68px;
}

.sbs-user, .fl-user {
  float: left;
  margin-right: 4px;
  position: relative;
}

.sbs-user:last-child, .fl-user:last-child {
  margin-right: 0;
}

.sbs-user a, .fl-user a {
  top: 0;
  position: absolute;
  width: 64px;
  height: 64px;
}

/***************Title definition <a>*************/

.skills-title a, .about-title a, .contacts-title a {
  position: absolute;
  background: url(../img/spritesheet.png) -50px -153px;
  height: 10px;
  width: 10px;
  bottom: 5px;
  right: 0;
}

/***********************Skills*******************/

.skills-info-current {
  margin-top: 20px;
}

.skills-info-current span, .skills-info-bet {
  font-size: 13px;
  font-weight: bold;
  color: #666;
}

.skills-info-current ul, .skills-info-bet ul {
  list-style: none;
  margin-top: 10px;
}

.skills-info-current a {
  display: block;
  color: #949fb0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  border-bottom: 1px solid #dedede;
}

.skills-info-current a span{
  font-size: 13px;
  float: right;
}

.skills-info-current a span:after {
  display: inline-block;
  content: "";
  background: url(../img/spritesheet.png) -93px -13px;
  height: 10px;
  width: 11px;
}

.skills-info-bet {
  margin-top: 10px;
}


.skills-info-bet ul {
  height: 176px; /******** Temp style ************/
}

.skills-info-bet li {
  line-height: 30px;
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
  background: #e7ebf1;
  border-radius: 3px;
  overflow: hidden;
}

.skills-info-bet li a {
  display: block;
  font-size: 12px;
  color: #868f9d;
  padding-left: 10px;
}

.skills-info-bet li a:after {
  content: attr(data-skill-bet-counter);
  display: block;
  float: right;
  padding: 0 9px;
  margin-left: 10px;
  color: #fff;
  background: #c9d1de;
  font-weight: bold;
}

/*****************User-about******************/

.user-about-nav {
  margin-top: 20px;
  list-style: none;
  font-weight: bold;
}

.user-about-nav a {
  display: block;
  font-family: Arial, sans-serif;
  color: #808b9c;
  font-size: 13px;
  line-height: 35px;
  border-bottom: 1px solid #e7e7e7;
}

.user-about-nav a:hover {
  opacity: .7;
}

.user-location:before {
  display: inline-block;
  content: " ";
  width: 11px;
  height: 16px;
  margin-bottom: -3px;
  margin-right: 9px;
  background: url(../img/spritesheet.png) -127px -13px;
}

.user-location:hover:before {background: url(../img/spritesheet.png) -138px -13px;}

.user-graduate-level:before {
  display: inline-block;
  content: " ";
  width: 12px;
  height: 7px;
  margin-right: 8px;
  margin-bottom: 2px;
  background: url(../img/spritesheet.png) -127px 0;
}

.user-graduate-level:hover:before {background: url(../img/spritesheet.png) -139px 0;}

.user-age:before {
  display: inline-block;
  content: " ";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: url(../img/spritesheet.png) -67px 0;
}

.user-age:hover:before {background: url(../img/spritesheet.png) -77px 0;}

.user-qualification:before {
  display: inline-block;
  content: " ";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background: url(../img/spritesheet.png) -87px 0;
}

.user-qualification:hover:before {background: url(../img/spritesheet.png) -97px 0;}

.user-about-text {
  margin-top: 15px;
  font-size: 13px;
  font-weight: bold;
  color: #707070;
}

/*************************User Contacts************************/

.user-contacts ul {
  margin-top: 20px;
  list-style: none;
}

.user-contacts ul a {
  display: block;
  line-height: 40px;
  font-size: 13px;
  font-weight: bold;
  color: #75a5d7;
  border-bottom: 1px solid #dedede;
}

.user-contacts li:last-child a {
  border-bottom: 0;
}

.skype:before {
  display: inline-block;
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  background: url(../img/spritesheet.png) -176px -24px;
}

.twitter:before {
  display: inline-block;
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  background: url(../img/spritesheet.png) -200px -121px;
}

.behance:before {
  display: inline-block;
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  background: url(../img/spritesheet.png) -47px 0;
}

.youtube:before {
  display: inline-block;
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: -5px;
  background: url(../img/spritesheet.png) -189px -165px;
}

/*************************Profile-footer***********************/

.aside-user-footer {
  margin-top: 20px;
}

.aside-user-footer a {
  font-size: 12px;
  color: #666;
  font-weight: bold;
}

.aside-user-footer ul {
  list-style: none;
  margin-top: 28px;
  margin-bottom: 50px;
}

.aside-user-footer ul a {
  font-size: 11px;
  float: left;
  margin-bottom: 5px;
}

.aside-user-footer ul a:hover {
  text-decoration: underline;
}

.aside-user-footer ul a:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #666;
  margin-bottom: 1px;
  margin-left: 3px;
  margin-right: 3px;
}

.aside-user-footer li:last-child a:after {
  display: none;
}

/******************************************************/
/******************************************************/
/************User Content***************/
/******************************************************/
/******************************************************/

.user-content {
  width: 710px;
  display: block;
  float: right;
  font-family: Arial, sans-serif;
}

/******************First sort list**************************/

.user-content-sort ul{
  list-style: none;
  background: #fafafa;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(227,227,227,1);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(227,227,227,1);
  box-shadow: inset 0px -1px 0px 0px rgba(227,227,227,1);
}

.user-content-sort a {
  line-height: 40px;
  padding: 0 8px;
  float: left;
  color: #999;
  font-size: 13px;
}

.user-content-sort a:hover {
  background: #fff;
  position: relative;
}

.current-sort-item {
  background: #fff;
  position: relative;
}

.user-content-sort a:hover:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 0px 1px 0px 1px rgba(227,227,227,1);
  -moz-box-shadow: inset 0px 1px 0px 1px rgba(227,227,227,1);
  box-shadow: inset 0px 1px 0px 1px rgba(227,227,227,1);
  top: 0;
  left: 0;
  z-index: 1;
}

.current-sort-item:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 0px 1px 0px 1px rgba(227,227,227,1);
  -moz-box-shadow: inset 0px 1px 0px 1px rgba(227,227,227,1);
  box-shadow: inset 0px 1px 0px 1px rgba(227,227,227,1);
  top: 0;
  left: 0;
  z-index: 1;
}

.user-content-sort a:hover:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(79,135,199,1);
  -moz-box-shadow: inset 0px 2px 0px 0px rgba(79,135,199,1);
  box-shadow: inset 0px 2px 0px 0px rgba(79,135,199,1);
  top: 0;
  left: 0;
  z-index: 2;
}

.current-sort-item:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(79,135,199,1);
  -moz-box-shadow: inset 0px 2px 0px 0px rgba(79,135,199,1);
  box-shadow: inset 0px 2px 0px 0px rgba(79,135,199,1);
  top: 0;
  left: 0;
  z-index: 2;
}

.user-content-sort span {
  margin-left: 8px;
}

/******************************Extra sort**************************/

.extra-sort {
  margin-bottom: 15px;
}

.extra-sort ul {
  margin-top: 15px;
  list-style: none;
}

.extra-sort a {
  line-height: 30px;
  color: #999;
  font-size: 13px;
  float: left;
  padding: 0 10px;
}

.extra-sort li:last-child a {
  float: right;
}

.extra-sort li:last-child a:hover {
  background: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(223,223,223,0);
  -moz-box-shadow: 0px 0px 0px 1px rgba(223,223,223,0);
  box-shadow: 0px 0px 0px 1px rgba(223,223,223,0);
}

.extra-sort a:hover {
  border-radius: 2px;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(223,223,223,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(223,223,223,1);
  box-shadow: 0px 0px 0px 1px rgba(223,223,223,1);
}

.extra-sort span:before {
  content: ":";
  display: inline-block;
}

/***********************Add message******************************/

.add-post {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(223,223,223,1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(223,223,223,1);
  box-shadow: 0px 0px 0px 2px rgba(223,223,223,1);
  border-radius: 2px;
  height: 40px;
  overflow: hidden;
  margin-bottom: 5px;
}

.add-post:hover {
  height: auto;
  overflow: visible;
}

.message-text-form {
  position: relative;
  border-radius: 2px;
}

.message-text-form input {
  border: 0;
  width: 100%;
  line-height: 40px;
  padding: 0 10px;
}

/***************************Upload file************************/

.message-text-form:after {
  content: "";
  position: absolute;
  background: url(../img/spritesheet.png) -107px 0;
  width: 20px;
  height: 15px;
  top: 10px;
  right: 10px;
}

#upload {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 15px;
  top: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
}

.add-post-active {
  font-size: 12px;
  color: #a0acb8;
  padding: 0 10px;
  line-height: 45px;
  background: #f3f5f7;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(223,223,223,1);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(223,223,223,1);
  box-shadow: inset 0px 1px 0px 0px rgba(223,223,223,1);
}

/*Send post*/

.add-post-active input {
  text-transform: uppercase;
  background: none;
  border: 0;
  font-size: 11px;
  color: #8c9eb0;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-top: 16px;
}

/*****************Published Posts Area*******************/

.user-posts a, .user-comments {
  color: #4f7ab4;
}

.user-post, .user-comment {
  margin-top: 15px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

.user-comment {
  padding-bottom: 10px;
}

.after-comments-post {
  padding-top: 15px;
  border-top: 1px solid #e3e3e3;
}

.user-post-avatar, .user-comment-avatar {
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.user-post-avatar img {
  display: block;
}

/*************Post Content***************/

.post-body {
  float: left;
  margin-left: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.comment-body {
  float: left;
  margin-left: 10px;
  font-size: 12px;
}

.username-post, .username-comment {
  margin-bottom: 5px;
}

.username-post a, .username-comment a{
  font-weight: bold;
}

.username-post a:hover, .username-comment a:hover {
  text-decoration: none !important;
}

.user-post-content, .user-comment-content {
  color: #666;
}

/*************Publish date, and leave a comment************************/

.user-post-options, .user-comment-options {
  color: #999;
  font-size: 11px;
  line-height: 25px;
  display: inline-block;
}

.user-posts time:after, .user-comments time:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #999;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.user-post-options a, .user-comment-options a {
  color: #999 !important;
}

.user-posts a:hover, .user-comments a:hover {
  text-decoration: underline;
}

/*****************Likes-box*********************/

.post-likes, .comment-likes {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.comment-likes {
  bottom: 10px;
}

.post-likes a, .comment-likes a {
  display: block;
  color: #b1c9d9;
  line-height: 25px;
  padding: 0 5px;
}

.post-likes a:hover, .comment-likes a:hover {
  text-decoration: none;
  background: #edf0f4;
  color: #94acc2;
  border-radius: 2px;
}

.post-likes span, .comment-likes span {
  visibility: hidden;
}

.post-likes a:hover span, .comment-likes a:hover span {
  visibility: visible;
}

.post-likes span:after, .comment-likes span:after {
  visibility: visible;
  content: "";
  display: inline-block;
  background: url(../img/spritesheet.png) -82px -13px;
  width: 11px;
  height: 10px;
  margin: 0 5px;
}

/***************Comments-box*******************************/

.user-post-comments {
  margin-left: 60px;
}

.show-more-comments a {
  display: block;
  margin-top: 15px;
  line-height: 45px;
  text-align: center;
  background: #e2e3e5;
  color: #8495a5;
  font-size: 12px;
  border-radius: 3px;
}

.show-more-comments a:hover {
  text-decoration: none;
  background: #d3d3d3;
  color: #fff;
}

/******************************************/
/******************************************/
/******************************************/
/*********Profile-post.html****************/
/******************************************/
/******************************************/
/******************************************/

.publications-block {
  margin-bottom: 15px;
}

.profile-articles-title, .graphics-title {
  line-height: 45px;
  font-size: 17px;
  text-transform: uppercase;
  color: #5685c5;
  font-weight: bold;
  letter-spacing: -1.5px;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(227,227,227,1);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(227,227,227,1);
  box-shadow: inset 0px -1px 0px 0px rgba(227,227,227,1);
}

.profile-articles-title a, .graphics-title a {
  display: block;
  float: right;
  font-size: 13px;
  color: #c1c1c1;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}

.profile-articles-title span, .graphics-title span {
  display: block;
  float: left;
  position: relative;
}

.profile-articles-title span:after, .graphics-title span:after {
  content: attr(data-publications-counter);
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  color: #fff;
  background: #b9c3d2;
  border-radius: 2px;
  top: 11px;
  right: -30px;
}

/*********article name***********/

.profile-article-name h2 {
  line-height: 50px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

/******article Stats*******/

.profile-article-info {
  margin-bottom: 25px;
}

.profile-article-info ul{
  list-style: none;
}

.profile-article-info li, .profile-article-info a {
  display: block;
  float: left;
  color: #828282;
  font-size: 13px;
  letter-spacing: -.1px;
}

.profile-article-info a:hover {
  text-decoration: underline;
}

.profile-article-info li {
  margin-right: 25px;
}

/******************article stats icons****************/

.profile-article-info li:before {
  display: block;
  float: left;
  content: "";
  background: url(../img/spritesheet.png) -162px -37px;
  width: 14px;
  height: 10px;
  margin-right: 10px;
  margin-top: 2px;
}

.profile-article-author:before {
  background: url(../img/spritesheet.png) -166px -10px !important;
  width: 10px !important;
}

.profile-article-date:before {
  background: url(../img/spritesheet.png) -166px 0 !important;
  width: 10px !important;
}

/****************article text************************/

.profile-article-text p{
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #666;
  margin-bottom: 30px;
}

.profile-article-text p:last-child {
  margin-bottom: 25px;
}

/******************Article bottom bar**********************/

.profile-read-more-button {
  float: left;
}

.profile-read-more-button a {
  line-height: 35px;
  background: #74aded;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  float: left;
  padding: 0 15px;
}

.profile-read-more-button a:hover {
  background: #5381b5;
}

.profile-article-bottom-bar ul {
  margin-left: 10px;
  float: left;
  list-style: none;
}

.profile-article-bottom-bar li, .profile-article-bottom-bar ul a {
  float: left;
  font-size: 13px;
  color: #bebebe;
  line-height: 35px;
}

/******************Article bottom bar icons**********************/

.profile-article-bottom-bar li:before {
  display: block;
  float: left;
  content: "";
  background: url(../img/spritesheet.png) -15px -93px;
  width: 18px;
  height: 11px;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 11px;
}

.profile-article-bottom-bar li:last-child::before {
  display: none;
}

.profile-article-comments-counter:before {
  background: url(../img/spritesheet.png) -136px -80px !important;
  width: 15px !important;
  height: 13px !important;
  margin-top: 10px;
}

.profile-article-likes-counter a:before {
  display: block;
  float: left;
  content: "";
  background: url(../img/spritesheet.png) -151px -80px;
  width: 15px;
  height: 13px;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 10px;
}

.profile-article-likes-counter a:hover:before {
  background: url(../img/spritesheet.png) 0 -93px;
}

/**************************Graphics block*********************/

.pub-row {
  height: 240px;
  padding-top: 20px;
}

/*******************Graphics Item************************/

.pub-graphics-item {
  float: left;
  margin-right: 10px;
  border-radius: 3px;
  overflow: hidden;
}

.pub-row .pub-graphics-item:last-child {
  margin: 0;
}

.graphics-item-body {
  position: relative;
}

/*******************Graphics Item img background************************/

.pub-graphics-item img {
  display: block;
}

/*******************Graphics Item Stats************************/

.graphic-item-stats {
  background: rgba(33,45,55,.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.graphic-item-stats:hover {
  opacity: 1;
}

.graphic-item-stats a {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 70px;
  text-align: center;
  display: block;
  color: #fff;
}

.graphic-item-stats a:hover {
  text-decoration: underline;
}

.graphic-item-stats ul {
  list-style: none;
  margin-left: 10px;
  margin-top: 45px;
}

.graphic-item-stats li {
  float: left;
  font-size: 13px;
  color: #ccccce;
  margin-left: 15px;
}

/*******************Graphics Item stats icons************************/

.graphic-item-stats li:before {
  content: "";
  display: inline-block;
  background: url(../img/spritesheet.png) -15px -93px;
  width: 18px;
  height: 11px;
  margin-right: 7px;
}

.graphic-comments-counter:before {
  background: url(../img/spritesheet.png) -151px 0 !important;
  width: 15px !important;
  height: 13px !important;
  margin-bottom: -2px;
}

.graphic-likes-counter:before {
  background: url(../img/spritesheet.png) -67px -13px !important;
  width: 15px !important;
  height: 13px !important;
  margin-bottom: -2px;
}

.graphic-likes-counter:hover:before {
  background: url(../img/spritesheet.png) -33px -93px !important;
}

/*******************Graphics Item Title and Author************************/

.graphics-item-info a {
  display: block;
  margin-top: 10px;
}

.graphics-item-title {
  font-size: 13px;
  font-weight: bold;
  color: #414141;
}

.graphics-item-author {
  font-size: 11px;
  color: #929292;
  margin-top: 5px !important;
}

/*========================================================*/
/***********Profile Modal Box Area*********************************/
/*========================================================*/

.modal-box  {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  display: block;
  background-color: rgba(30,44,76,.85);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}

.modal-box:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  display: inline-block;
  padding: 25px 28px 20px 28px;
  border-radius: 3px;
  text-align: left;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
}

.modal-content a {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #4f7ab4, #3b66a1);
  background: -webkit-linear-gradient(to bottom, #4f7ab4, #3b66a1);
  background: -moz-linear-gradient(to bottom, #4f7ab4, #3b66a1);
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
  margin-right: 5px;
}

.modal-close {
  display: block;
  float: right;
  margin: 0 !important;
  padding: 0 !important;
  background: url(../img/spritesheet.png) -162px -106px !important;
  width: 14px;
  height: 14px;
  margin-top: 5px !important;
}

.modal-box:target .modal-content {
  -webkit-transition: .4s ease-in-out; 
  -moz-transition: .4s ease-in-out; 
  -o-transition: .4s ease-in-out; 
  transition: .4s ease-in-out;
}

/************Success action modal********************************/

.success-modal {
  padding: 15px;
  background: #5693d7;
}

.success-modal h1 {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  margin: 0;
  font-weight: normal;
}

.success-modal h1:after {
  content: "";
  background: url(../img/spritesheet.png) -162px -124px;
  width: 10px;
  height: 8px;
  display: block;
  float: right;
  margin-left: 260px;
  margin-top: 3px;
}

.modal-box:target .success-modal {
  transform: translate(0,550%);
  -webkit-transform: translate(0,550%); 
  -o-transform: translate(0,550%);
  -moz-transform: translate(0,550%);
}

/***********Send Message modal*************************/

.send-message-modal {
  width: 520px;
}

.send-message-user-modal img {
  display: block;
  float: left;
  margin-right: 10px;
}

.username-modal {
  font-size: 14px;
  font-weight: bold;
  display: block;
  float: left;
}

.user-last-visit-modal {
  font-size: 11px;
  color: #919191;
  font-weight: normal;
  margin-left: 120px;
}

.user-modal-specialization {
  display: block;
  font-size: 13px;
  color: #919191;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5px;
}

.send-message-area {
  border: 1px solid #d7d7d7;
  resize: none;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
  padding: 3px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #707070;
}

.send-message-modal-box input {
  display: block;
  float: left;
  padding: 10px 20px;
  border: 0;
  outline: none;
  font-size: 13px;
  color: #fff;
  background: linear-gradient(to bottom, #4f7ab4, #3b66a1);
  background: -webkit-linear-gradient(to bottom, #4f7ab4, #3b66a1);
  background: -moz-linear-gradient(to bottom, #4f7ab4, #3b66a1);
  border-radius: 2px;
  cursor: pointer;
  margin-top: 15px;
  position: relative;
}

.send-message-modal-box input:hover {
  background: #5a8bcc;
  -webkit-box-shadow: inset 0px -2px 0px 0px rgba(62,104,159,1);
  -moz-box-shadow: inset 0px -2px 0px 0px rgba(62,104,159,1);
  box-shadow: inset 0px -2px 0px 0px rgba(62,104,159,1);
}

.send-message-modal-box span {
  margin-top: 22px;
  display: block;
  float: right;
  color: #919191;
  font-size: 13px;
}

.modal-box:target .send-message-modal {
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%); 
  -o-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}

/**************Send message error modal*************************/

.error-send-message-modal {
  display: block;
  padding: 15px;
  background: #d7565f;
  width: 520px;
  margin: 0 auto;
  padding-right: 30px;
}

.error-send-message-modal a {
  margin: 0;
  padding: 0;
  background: url(../img/spritesheet.png) -114px -20px !important;
  height: 10px;
  width: 10px;
  margin-top: 8px !important;
}

.error-send-message-modal h1 {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  margin: 0;
  font-weight: normal;
}

.modal-box:target .error-send-message-modal {
  transform: translate(0,150%);
  -webkit-transform: translate(0,150%); 
  -o-transform: translate(0,150%);
  -moz-transform: translate(0,150%);
}

/******************Unsubscribe modal*********************/

.modal-cancel:hover {
  background: #99a5b5;
}

.modal-unsubscribe:hover {
  background: #4a7bba;
}

.modal-content h1 {
  display: inline-block;
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-content p {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #666;
  margin-bottom: 15px;
  margin-right: 100px;
}

.modal-box:target .unsubscribe-modal {
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%); 
  -o-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}

/*****************Liked users modal************************/

.liked-user-row {
  margin-bottom: 15px;
}

.liked-user-row a {
  margin: 0;
  padding: 0;
  background: none;
  color: #666;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.liked-user-row img {
  display: block;
  margin-bottom: 10px;
}

.modal-box:target .liked-users-modal {
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%); 
  -o-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}

/*****************Upload avatar***********************/

.upload-avatar-modal p {
  font-family: OpenSans, sans-serif;
  font-size: 13px;
  color: #666;
  margin-bottom: 0;
  margin-right: 0;
  font-weight: bold;
}

.drop-avatar-zone {
  margin-top: 25px;
  background: #f5f7f9;
  border: 2px dashed #d9e0e9;
}

.drop-avatar-zone-container {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #c3c8cc;
  position: relative;
}

.drop-avatar-zone-container:before {
  display: block;
  content: '';
  width: 111px;
  height: 95px;
  margin: 30px auto;
  margin-bottom: 25px;
  background: url('../img/sailorkoto-temp-sprite.png') 0 -29px;
}

.drop-avatar-zone-container p {
  color: #93a4b5;
  margin-bottom: 20px;
}

.avatar-upload-button input[type='file'] {
  position: fixed;
  top: -999px;
}

.avatar-upload-button {
  display: block;
  width: 230px;
  height: 43px;
  border-radius: 2px 2px 0 0;
  background: #4e79b3;
  text-align: center;
  color: #fff;
  padding-top: 14px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  margin: 25px auto;
  margin-top: 20px;
}

.avatar-upload-button:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background: #3e689f;
  width: 230px;
  height: 2px;
  border-radius: 0 0 3px 3px;
}

.avatar-upload-button:hover {
  background: #5a8bcc;
}

.avatar-upload-button:active {
  bottom: 0;
  border-radius: 2px;
}

.avatar-upload-button:active:after {
  display: none;
}

.modal-box:target .upload-avatar-modal {
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%); 
  -o-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}

/***************Error upload avatar***********************/

.error-upload-modal {
  display: block;
  padding: 15px;
  background: #d7565f;
  width: 557px;
  margin: 0 auto;
  padding-right: 30px;
}

.error-upload-modal a {
  margin: 0;
  padding: 0;
  background: url(../img/spritesheet.png) -114px -20px !important;
  height: 10px;
  width: 10px;
  margin-top: 8px !important;
}

.error-upload-modal h1 {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  margin: 0;
  font-weight: normal;
}

.modal-box:target .error-upload-modal {
  transform: translate(0,200%);
  -webkit-transform: translate(0,200%); 
  -o-transform: translate(0,200%);
  -moz-transform: translate(0,200%);
}

/*========================================================*/
/***********profile-banned.html*********************************/
/*========================================================*/

.user-banned {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: OpenSans, sans-serif;
}

.ooops {
  font-size: 48px;
  color: #4978cd;
  text-align: center;
  margin-bottom: 25px;
}

.user-banned p {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #666;
}

.username-banned {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.user-banned ul {
  list-style: none;
  text-align: center;
}

.user-banned a {
  margin-top: 30px;
  display: inline-block;
  padding: 15px;
  font-size: 13px;
  color: #707070;
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  background: rgba(0,0,0,0);
}

.user-banned a:hover {
  background: linear-gradient(to top, #f2f2f2, #f9f9f9);
  background: -webkit-linear-gradient(to top, #f2f2f2, #f9f9f9);
  background: -moz-linear-gradient(to top, #f2f2f2, #f9f9f9);
}
